/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62.5%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
  max-width: 100%;
}
h1 {
  font-family: 'Merriweather', serif;
  color: #333333;
}
p {
  font-family: 'Martel', serif;
  color: #333333;
}
h2,
h3,
h4,
h5,
h6,
a {
  font-family: 'Nunito', sans-serif;
  color: #333333;
}
a {
  text-decoration: none;
  color: #666666;
}
a:hover {
  text-decoration: underline;
}
header {
  margin-top: 2%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header .heading {
  width: 95%;
}
@media (min-width: 1000px) {
  header .heading {
    max-width: 800px;
    width: 100%;
  }
}
header .heading h1 {
  font-size: 3.2rem;
  margin: 2% 0%;
}
header nav {
  background-color: peachpuff;
  width: 100%;
  display: flex;
  justify-content: center;
}
header nav .links {
  width: 100%;
  display: flex;
  margin: 0.5% 0;
}
@media (min-width: 800px) {
  header nav .links {
    width: 95%;
  }
}
@media (min-width: 1000px) {
  header nav .links {
    width: 800px;
  }
}
header nav .links .dont-ask {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
@media (min-width: 800px) {
  header nav .links .dont-ask {
    width: 50%;
    justify-content: left;
  }
}
header nav .links .dont-ask a {
  padding-right: 10%;
  white-space: nowrap;
}
.content {
  margin: 0 auto;
  width: 95%;
}
@media (min-width: 1000px) {
  .content {
    max-width: 800px;
  }
}
section {
  margin: 4% 0;
}
section h2 {
  font-size: 1.6rem;
}
section .body-text {
  padding: 1% 0;
}
section .body-text p,
section .body-text a {
  padding: 1% 0;
  line-height: 1.5rem;
}
.project-entry {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid gray;
  margin: 1% 0;
}
@media (min-width: 800px) {
  .project-entry {
    flex-direction: row;
  }
}
.project-entry * {
  margin-right: 2%;
}
.project-entry .proj-1 {
  width: 100%;
  border-bottom: 1px dashed gray;
  display: flex;
  align-items: center;
  padding: 2%;
}
@media (min-width: 800px) {
  .project-entry .proj-1 {
    width: 30%;
    border-right: 1px dashed gray;
    border-bottom: none;
  }
}
.project-entry .proj-1 .emoji {
  font-size: 2rem;
  padding-right: 2%;
}
.project-entry .proj-2 {
  padding: 2%;
}
@media (min-width: 800px) {
  .project-entry .proj-2 {
    width: 70%;
    padding-left: 0%;
  }
}
.project-entry .proj-2 a {
  font-size: 0.8rem;
}
