

header {
    margin-top: 2%;
    margin: 0 auto;
    display: flex;
    flex-direction:column;
    align-items: center;

    .heading {

        width: 95%;
       
        @media @desktop {
            max-width: @contentWidth;
            width: 100%;
        }

        h1 {
            font-size: 3.2rem;
            margin: 2% 0%;
        }
    } //end .heading
    nav {
        background-color: peachpuff;
        width: 100%;
        display: flex;
        justify-content: center;
        
        .links {
            width: 100%;

            @media @tablet {
                width: 95%;
            }

            @media @desktop {
                width: @contentWidth;
            }

            display: flex;

            // @media @tablet {
            //     justify-content: left;
            // }
            margin: .5% 0;

            .dont-ask {
                width: 100%;
                display: flex;
                justify-content: space-around;

                @media @tablet {
                    width: 50%;
                    justify-content: left;
                }
                
                a {
                    padding-right: 10%;
                    white-space: nowrap;
                }
            }
            
        }
    } //end nav  
} //end header

.content {
    margin: 0 auto;
     
    width: 95%;
   

    @media @desktop {
        max-width: @contentWidth; 
    }
}

section {
    margin: 4% 0;
    h2 {
        font-size: 1.6rem;

    }

    .body-text {
        padding: 1% 0;
        p , a {
            padding: 1% 0;
            line-height: 1.5rem;
        } 
        
    }

    .social-media {
        display: flex;
        justify-content: left;
        a {
            padding-right: 5%;

            i {
                padding: 0 5px;
            }
        }
    }
    
}

.project-entry {
    display: flex;

    flex-direction: column;

    @media @tablet {
        flex-direction: row;
    }

    

    border-radius: 5px;
    border: 1px solid gray;
    margin: 1% 0;

    * {
        margin-right: 2%; //need to fix this
    }
    
    .proj-1 {
        
        
        width: 100%;
        border-bottom: 1px dashed gray;
        @media @tablet {
            width: 30%;
            border-right: 1px dashed gray;
            border-bottom: none;
        }
        
        display: flex;
        align-items: center;
        padding: 2%;

        .emoji {
            font-size: 2rem;
            padding-right: 2%
        }
    }

    .proj-2 {
        
        padding: 2%;
        
        
        @media @tablet {
            width: 70%;
            padding-left: 0%;
        }
        a {
            font-size: .8rem;
        }
    }



}




