//colors
@charcoal: #333333;
@linkGray: #666666;

//fonts
@serif: 'Merriweather', serif;
@sansSerif: 'Didact Gothic', sans-serif;

//breakpoints
@tablet: ~"(max-width: 800px)";
@mobile: ~"(max-width: 500px)";

//other
@contentWidth: 800px;

